html {
  box-sizing: border-box;
}

*, 
*:before,
*:after{
  box-sizing: inherit;
}

body {
  background-color: black;
  color: #FFFFFF;
  font-family: 'Asap Condensed', verdana, sans-serif;
  text-shadow: 1px 1px 1px #000;
  background-image: url("backgroundspacesmall.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}

.titel {
  width: 100%;
  margin: 0;
  padding: 0;
  max-height: 100px;
}

h1 {
  text-align: center;
  color: #FFFFFF;
  text-align: center;
  font-family: "lato", sans-serif;
  font-weight: 300;
  font-size: 20px;
  letter-spacing: 10px;
  margin: 5,5,5,0;
  padding: 0;
}

h2 {
  font-size: 1em;
  font-weight: normal;
  background-color: rgba(176, 207, 254, 0.2);
  padding: 0.4em;
  border-radius: 0.2em;
  text-align: center;
}

.grid-container > div {
  padding: 0.2em 1em;
}

.grid-container > div:nth-child(1) {
  border-radius: 10px;
}
.grid-container > div:nth-child(2) {
  background-color: rgba(0,0,0, 0.6);
  border-radius: 10px;
}
.grid-container > div:nth-child(3) {
  background-color: rgba(0,0,0, 0.6);
  border-radius: 10px;
}
.grid-container > div:nth-child(4) {
  background-color: rgba(0,0,0, 0.6);
  border-radius: 10px;
}
.grid-container > div:nth-child(5) {
  background-color: rgba(0,0,0, 0.6);
  border-radius: 10px;
}


